body {
   background-image: url("https://freight.cargo.site/t/original/i/B2252969201878876070042260478859/Comp1-ezgif.com-video-to-gif-converter.gif");
  background-color: #666666;
  background-repeat: repeat;
  background-attachment: fixed;
}
#box {
  background-color: #7E7E7E;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  height: 800px;
  width: 600px;
}
#heading {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: snow;
  font-family: 'hanging letters';
}  
#backdrop {
  top: 2em;
  margin: auto;
  position: relative;
  background-color: #F0F0F0;
  border-radius: 20px;
  height: 700px;
  width: 400px;
}
.buttonBox {
  position: relative;
  margin: 1rem;
  }
button {
  font-family: 'open sans';
  margin-top: 2em;
  margin-right: 0.4em;
  color: black;
  background-color: rgb(250, 248, 246);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: larger;
  transition: 0.1s linear;
}
button:hover {
  background-color: rgb(248, 252, 255);
  box-shadow: 0px 2px 4px 1px rgb(230, 152, 86);
}

#hairback {
  position: absolute;
  height: 700px;
  width: 400px;
}
#girl {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffsdxg-1575eff6-2818-46bc-b57b-4e52c4a9f6eb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2R4Zy0xNTc1ZWZmNi0yODE4LTQ2YmMtYjU3Yi00ZTUyYzRhOWY2ZWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7Q4EqvcVfs1vg1MSJO4CKsdeOXZK-Az9fqO4AuyFCo8");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  border-radius: 25px;
  z-index: 1;
}
#dress {
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 6;
}
#shoes {
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 2;
}
#hair {
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 2;
}
#face {
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 6;
}
#hat {
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 6;
}
.dress1 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffsejw-ac47afdb-935c-4e36-b31a-3ada1d9c9c88.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Vqdy1hYzQ3YWZkYi05MzVjLTRlMzYtYjMxYS0zYWRhMWQ5YzljODgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VH3b6xmPVvZ6Oa0cgn7l8v3eeFOLXfO-85U4tkg0zEU");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.dress2 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffsdxn-e3d4b3ec-0a1b-4bbc-b03d-96eefd1d365c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2R4bi1lM2Q0YjNlYy0wYTFiLTRiYmMtYjAzZC05NmVlZmQxZDM2NWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bmkP3PCRwFszEg-7J5qSLsPbjgfrHHVbIMN6DIr1iVQ");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.dress3 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffsdxp-4be3d063-96d0-47af-b4f4-e762ef3a0d42.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2R4cC00YmUzZDA2My05NmQwLTQ3YWYtYjRmNC1lNzYyZWYzYTBkNDIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ybWNs6v8BXZH6d1pZw3LcDJrkwwM_P8g0svaMIi-hi0");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.dress4 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffsdxt-ecb73e2d-dc5b-47c6-be4c-f4c677d1036e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2R4dC1lY2I3M2UyZC1kYzViLTQ3YzYtYmU0Yy1mNGM2NzdkMTAzNmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.O28U5jeSBjBNQErPWS846Y1I8p4vjeNp1lc9-kcL3PI");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
 }
  .shoes1 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4h-745c8999-d5bb-4055-8496-8a8c9acbe60b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0aC03NDVjODk5OS1kNWJiLTQwNTUtODQ5Ni04YThjOWFjYmU2MGIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LOfDbbqPb8KPLc7LZexZk5Oima_WlUAne5EkdUsgfL0");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes2 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4n-e4784f6a-3bc9-4fcb-bcd8-d163e8fa616e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0bi1lNDc4NGY2YS0zYmM5LTRmY2ItYmNkOC1kMTYzZThmYTYxNmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.akwlY-F-acMGmSMQYLwMx0pyJhFU70SRvR1dtaTd5FY");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes3 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4q-dde74255-6800-41e7-8418-325a7683b0b6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0cS1kZGU3NDI1NS02ODAwLTQxZTctODQxOC0zMjVhNzY4M2IwYjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rZEvwLzMBNH3e1IY52RrrI_aUMzeWifAZJMaPmBWxKk");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes4 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse5j-8d06c7dd-90b0-4013-a3a6-1f547626071b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U1ai04ZDA2YzdkZC05MGIwLTQwMTMtYTNhNi0xZjU0NzYyNjA3MWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VISWSkrtTfO9mtNfCCboHheApv3FEw-b_DRAOjN4PuQ");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat1 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse3s-e13dcfaf-236a-44fc-9b19-9b108409ebf3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Uzcy1lMTNkY2ZhZi0yMzZhLTQ0ZmMtOWIxOS05YjEwODQwOWViZjMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0uxhDFlYzNkIfPVcVKwn4K2wkUXatV0TWUoLOYyLyfg");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat2 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4c-fba15519-76bc-4d16-a74c-33c262f07d38.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0Yy1mYmExNTUxOS03NmJjLTRkMTYtYTc0Yy0zM2MyNjJmMDdkMzgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pxBqQSpas8DS8Jt98AQ-2X0ZUeLtEWFreEnvAfH-tK0");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat3 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4d-d1621860-c926-4364-afff-e2556c418848.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0ZC1kMTYyMTg2MC1jOTI2LTQzNjQtYWZmZi1lMjU1NmM0MTg4NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kUYW_Pyqf6iia4YaWA4ibvCd2J5BBcBnVVzSnRDk0d0");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat4 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse4f-809b91b9-f7f2-4e99-8ca2-57220527eb38.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2U0Zi04MDliOTFiOS1mN2YyLTRlOTktOGNhMi01NzIyMDUyN2ViMzgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dfELIBjUUeWS5527y1Jfg9bFTVhYvSizlCR6oqzasVA");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair1 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse0o-0fec8861-7aa1-4172-8bf6-d16338a52821.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Uwby0wZmVjODg2MS03YWExLTQxNzItOGJmNi1kMTYzMzhhNTI4MjEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jaxY66nL9bjjiFy7ZloBXrQp3YUy_qwVeswB6h49bwo");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair2 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse0r-f2931da7-ffb1-4e82-b842-201ae4474f42.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Uwci1mMjkzMWRhNy1mZmIxLTRlODItYjg0Mi0yMDFhZTQ0NzRmNDIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.C4e6D2FPnOSwOYDgYqp9uQJaFMzEQFLD6LTQIhIUJoo");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair3 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse0z-0fac6f43-7c66-4d5f-8ce2-b43e51dd515c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Uwei0wZmFjNmY0My03YzY2LTRkNWYtOGNlMi1iNDNlNTFkZDUxNWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8RIWWEckx8yFsiy1JIPaTJxmaaLuZtTr21U2mTGacyk");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair4 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/533ac189-3345-4bd6-ab30-f47685bb103b/dffse3o-847cf592-06d3-4c74-b33d-de8def102aeb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzM2FjMTg5LTMzNDUtNGJkNi1hYjMwLWY0NzY4NWJiMTAzYlwvZGZmc2Uzby04NDdjZjU5Mi0wNmQzLTRjNzQtYjMzZC1kZThkZWYxMDJhZWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.f4Kj_iQnxoT9gby7esPc5m8jbQuUVClFoBPfxwFGYLQ");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
